<h1>MVC consumo API Hospitales</h1>
<ul>
    <li>
        <a asp-controller="Hospitales"
           asp-action="HospitalesFront">
            Api Hospitales Front
       </a>
    </li>
    <li>
        <a asp-controller="Hospitales"
            asp-action="HospitalesBack">
            Api Hospitales Back
        </a>
    </li>
</ul>